.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}
#open{
    display: none;
    transition: visibility 0s, opacity 0.5s linear;
}
body {
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
::-webkit-scrollbar { 
    display: none; 
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 100;
    line-height: 1.3;
    font-family: 'Ubuntu', sans-serif;
}

h3{color:#9dbb3b;}


h2 {
    margin-top: 1.3em;
}

a {
    color: #fff;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

.img-icons {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    margin: 20px;
    width: 55px;
}
button{
        font-family: 'Ubuntu', sans-serif;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}
p {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    
}
.porcentajes-display{
    text-align: center;
    position: relative;
    top: 40px;
}
.porcentajes-display h4{
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #98bd18;
}
.rango-green{
    color: #98bd18;
    font-size: 22px;
}
.porcentajes-display p{
    font-size: 18px;
}
.table tbody tr td{
    text-align: center;
}
.pay_graphic {
    min-height: 300px;
    padding: 110px 10px;
}

.info_graphic {
    background: red;
}
span {
    color:#ea7f41;
    font-weight: 100;
}

.img-home {
    width: 400px;
}

.this-small {
    font-size: 16px;
}

#banner_graphic {
    background: rgba(12, 74, 131, 0.87);
}
.modal-body, .modal-header, .modal-footer{
    text-align: center !important;
}
.modal-footer .btn + .btn, .boton-envio{
    width: 100%;
    margin: 5px 0px;
}
select{
    background: transparent;
    border:0px;
    border-bottom: 1px solid;
    color: #fff;
}
.modal-footer{
    border:0px;
}
.modal-body input{
    width: 100%;
    border: 0px;
    border-bottom: 1px solid;
    margin: 10px 0px;
}
.modal-dialog{
    width: 380px;
}
.padd_2 {
    padding:50px 0px;
}

.this-tittle-2 {
    color:#fff;
    font-family: 'Open Sans', sans-serif;
}

#banner_call {
    background: rgba(157, 187, 59, 0.58);
    text-align: center;
}



li {
    list-style-type: none;
    margin: 0 40px;
    float: left;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-weight: 100;
}



.icon-footer {
    width: 35px;
}
.footer-social-links ul li a {
    display: block;
    color: #333;
    font-size: 20px;
    font-weight: 400;
}
.padd-1 {
    padding: 10px 0px;
    color: #fff;
    text-shadow: 1px 2px 2px #333;
}
.ws-s{
    padding: 0px !important;
}
.footer-social-links ul {
    list-style: none;
    margin: 0;
    padding: 65px 200px;
}
.txt-fin{
    color: black !important;
}
.padd-3 {
    padding: 40px 0px 20px 0px;
}

#footer {
    background: #222222 ;
} 

.padd-4 {
    padding: 35px 0px;
    text-align: center;
}

.row {
    margin: 0px !important;
}

#home {
    background: #072b5d;
    /*background-image: url(../img/paneles-1.jpg);
    background-position: 0px -300px;
    background-repeat: no-repeat;*/
    min-height: 550px;
}
#top-bar{
    min-height: 100px;
    background-image: url(../img/paneles-1.jpg);
    background-size: cover;
    background-position-y: 400px;
}
.hide-rango{
    display: none;
}
.rangos-display{
    font-size: 23px;
    font-weight: 600;
}
#slide-img-home{
    height: 250px;
    width: 380px;
    margin-top: 60px;
    position: relative;
    top: 90px;
}
.carousel-indicators{
    margin: 0 auto;
}
.carousel-caption{
    left:10%;
    right: 0%;
    padding-bottom: 30px;
    text-align: center;
}
.center_txt {
    padding: 0px 100px;
    text-align: right;
}

.logo-top {
    width: 180px;
    position: absolute;
    top: 15px;
    right: 50px;
}

.from_space {
    text-align: left;
    padding: 110px 100px;
}

label {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: 100;
}



#banner_table {
    background: #fff !important;
}

.this-h3 {
    color: #2e4d72;
    font-weight: 600;
    letter-spacing: 0.5px;
    
}
.txt-fin{
    font-weight: 800;
    font-size: 23px;
}
.this-tittle {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 2px 2px #333;
    font-size: 35px;
    padding: 10px 0px;
    margin: 0px;
    letter-spacing: 1px !important;
}

.padd_5 {
    padding: 20px 0px;
}

.this-h4 {
    color: #31708f;
}

.this-p {
    color: #333;
}
.this-p span{
    font-size: 28px;

}
.this-h2 {
    color: #de7d55;
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 400;
}

#before-footer {
    background: beige;
    text-align: center;
}

.txt-p {
    font-size: 20px;
    color: #47a948;
    padding: 10px;
    font-weight: 600;
}

.this-tittle-h3 {
    color: #9dbb3b;
    font-size: 40px;
    margin-bottom: 40px;
}

#cotizador {
    position: absolute;
    left: 25%;
    top: 37%;
}

#cotizador-2 {
        position: absolute;
    left: 25%;
    top: 57%;
}

#cotizador-3 {
        position: absolute;
    left: 25%;
    top: 72%;
}

#txt-op {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

#btn-sub {
    position: absolute;
    top: 80%;
    left: 25%;
    width: 45%;
    border-radius: 6px;
    background: #273b7a;
    padding: 5px 10px;
    color: #fff;
}
